data
env
.env
lightning_logs
*__pycache__*
*.pt
*.ckpt
*.pth
weights
trained_weights/
room_types_images
outlier_folder
local_env
outlier_folder_2
checkpoints
checkpoints/*.zip
web
uploads
new_test_images
.env
dummy*
temp*

